.container {
  background-image: url("../images/exam.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.button-container .column button {
  padding: 10px 20px;
  margin-bottom: 10px;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  width: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}